html{
  overflow-x: hidden;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .sidebar-item {
    @apply relative flex items-center justify-items-center pt-2 pb-2 mx-8;
  }

  .sidebar-icon {
    @apply relative flex items-center justify-center h-9 w-9 mx-3
     shadow-lg bg-gray-800 text-[#20c997]
    hover:bg-[#20c997] hover:text-white rounded-3xl
    hover:rounded-xl transition-all duration-300 ease-linear;
  }

  .sidebar-profile {
    @apply mt-10 mb-2 mx-8 flex flex-col items-center justify-center;
  }

  .sidebar-img {
    @apply relative flex items-center justify-center w-44 h-44 shadow-lg rounded-full bg-[#343a40] mb-2;
  }

  .profile {
    @apply px-2 py-2 rounded-full;
  }

  .heroButton {
    @apply px-4 py-2 border border-[#343a40] rounded-full uppercase text-sm tracking-widest text-gray-500 transition-all hover:border-[#20c997]/40 hover:text-[#20c997]/40;
  }

  /* Display project cards in listing page */ 
  .listing {
    @apply relative w-[25%] min-w-[300px] max-w-[400px] m-5 cursor-pointer bg-white rounded-[10px] overflow-hidden shadow-[0px_8px_24px_rgba(149,157,165,0.2)] before:block before:pb-[calc((5/4)*100%)];
  }
  .listing__row {
    @apply flex items-center my-1.5;
  }

  .overlay {
    @apply fixed top-0 left-0 w-full h-full bg-[#212529] z-[1000] flex justify-center overflow-y-scroll items-start py-10;
  }

  .modal {
    @apply min-[991px]:w-[800px] min-[1201px]:w-[1140px] max-[768px]:w-[500px] border border-solid border-[#0000002d] rounded-lg text-[#dee3e4] bg-[#343a40];
  }

  .crossBtn {
    @apply float-right cursor-pointer border-0 rounded-md box-content h-4 opacity-[0.5] p-1 w-4 content-center items-center;
  }
  .expList {
    list-style: disc;
    padding-left: 20px;
  }
}